<?xml version="1.0" encoding="UTF-8"?>
<container>
    <parameters>
        <!--<parameter id="test.parameter.string" type="java.lang.String" value="My parameter string"/>-->

    </parameters>
    
    <!--<import resource="config/imported_config.xml" />-->
    
    <services>
        
        <!-- Give a test service named Service A to the container -->
<!--        <service id="test.service.a" class="app.service.TestServiceA">
            <argument type="java.lang.String" value="Service A"/>
            <argument type="int" value="1"/>
        </service>-->
        
        <!-- Give a test service named Service B ( with a reference to Service A ) to the container -->
<!--        <service id="test.service.b" class="app.service.TestServiceB">
            <argument type="service" ref="test.service.a"/>
            <argument type="java.lang.String" value="Service B"/>
            <argument type="int" value="2"/>
        </service>-->
 
    </services>
</container>
