<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <framework>
        <router>
            <resource>%kernel.root_dir%/config/routing.xml</resource>
        </router>
        <templating>
            <!--<engine>swing</engine>-->
            <engine>console</engine>
        </templating>
    </framework>
    
</configuration>
